<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <!-- Image and text -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{site.url}}{{site.baseurl}}">
      <img src="{{ "/assets/img/menu.png" | prepend: site.baseurl }}" width="80" height="80">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{site.url}}{{site.baseurl}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{site.url}}{{site.baseurl}}/about">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://www.facebook.com/coronagamata/"> σόσιαλ μύδια <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="wrapper">
    {{ content }}
  </div>

  {% include analytics.html %}
</body>
</html>
